In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

# **Missing Values and Junk Data**

In [ ]:
df.isna()
#Row 50 returns true

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [ ]:
df.tail()
#Row 50 has NaN

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [ ]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

# **Accessing Columns and Individual Cells in a Dataframe**

In [ ]:
#Accessing a Particular Column
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [ ]:
#Finding the Highest Value in a columm
clean_df['Starting Median Salary'].max()

74300.0

In [ ]:
# Index for the row with the largest value.
clean_df['Starting Median Salary'].idxmax()

43

In [ ]:
# To see a corresponding value of the largest value (Location Property)
clean_df['Undergraduate Major'].loc[43]
# You can also do
clean_df['Undergraduate Major'][43]

'Physician Assistant'

In [ ]:
# If you don't specify a particular column you can use the .loc property to retrieve an entire row:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

# **Challenges**


  ### 1.   What college major has the highest mid-career salary? How much do graduates with this major earn?
  ### 2.   Which college major has the lowest starting salary and how much do graduates earn after university?
  ## 3.   Which college major has the lowest mid-career salary and how much do people expect to earn with this degree?

### **1. What college major has the highest mid-career salary? How much do graduates with this major earn?**

In [ ]:
print(clean_df['Mid-Career Median Salary'].max())
print(clean_df['Mid-Career Median Salary'].idxmax())

107000.0
8

In [ ]:
clean_df['Undergraduate Major'][8]

'Chemical Engineering'

In [ ]:
max_row_index = clean_df['Mid-Career Median Salary'].idxmax()
print(f'''
College Major with the highest Mid-Career Salary is "{clean_df['Undergraduate Major'][max_row_index]}".
Graduates of this major earn "{clean_df['Mid-Career Median Salary'].max()}".
''')

College Major with the highest Mid-Career Salary is "Chemical Engineering".
Graduates of this major earn "107000.0".

### **2. Which college major has the lowest starting salary and how much do graduates earn after university?**

In [ ]:
print(clean_df['Starting Median Salary'].min())
print(clean_df['Starting Median Salary'].idxmin())

34000.0
49

In [ ]:
clean_df['Undergraduate Major'][49]

'Spanish'

In [ ]:
min_row_index = clean_df['Starting Median Salary'].idxmin()
print(f'''
College Major with the loswer Starting Salary is "{clean_df['Undergraduate Major'][min_row_index]}".
Graduates on the major earn "{clean_df['Starting Median Salary'].min()}".
''')

College Major with the loswer Starting Salary is "Spanish".
Graduates on the major earn "34000.0".

### **3. Which college major has the lowest mid-career salary and how much do people expect to earn with this degree?**

In [ ]:
print(clean_df['Mid-Career Median Salary'].min())
print(clean_df['Mid-Career Median Salary'].idxmin())

52000.0
18

In [ ]:
clean_df['Mid-Career Median Salary'][18]

52000.0

In [ ]:
lowest_mid_salary_index = clean_df['Mid-Career Median Salary'].idxmin()
print(f'''
Collage Major with the lowest Mid-Career Salary is "{clean_df['Undergraduate Major'][lowest_mid_salary_index]}".
People Expect to earn "{clean_df['Mid-Career Median Salary'][lowest_mid_salary_index]}".
''')

Collage Major with the lowest Mid-Career Salary is "Education".
People Expect to earn "52000.0".

In [ ]:
clean_df.loc[lowest_mid_salary_index]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

# Sorting Values & Adding Columns

In [ ]:
# Pandas allows us to do simple arithmetic with entire columns. There are 2 ways
# 1.
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# 2.
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [13]:
# The output of this computation will be another Pandas dataframe column. We can add this to our existing dataframe with the .insert() method
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [15]:
# clean_df.insert(loc=1, column='Spread', value=spread_col)
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [22]:
low_risk = clean_df.sort_values('Spread', ascending=True)
low_risk
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

# **Challenges**


  ### 1.   Can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.
  ### 2.   Find the degrees with the greatest spread in salaries

In [27]:
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [29]:
highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread
highest_spread[['Undergraduate Major', 'Spread']]

                     Undergraduate Major    Spread
17                             Economics  159400.0
22                               Finance  147800.0
37                                  Math  137800.0
36                             Marketing  132900.0
42                            Philosophy  132500.0
45                     Political Science  126800.0
8                   Chemical Engineering  122100.0
44                               Physics  122000.0
33               International Relations  118800.0
16                                 Drama  116300.0
30                Industrial Engineering  115900.0
14                          Construction  114700.0
2                            Agriculture  113700.0
28                               History  112000.0
25                               Geology  111000.0
0                             Accounting  109800.0
7                    Business Management  108200.0
39                                 Music  107300.0
34                            Journalism  106600.0
11                        Communications  105500.0
3                           Anthropology  104200.0
9                              Chemistry  102700.0
21                                  Film  102100.0
35  Management Information Systems (MIS)  100700.0
20                               English   99600.0
38                Mechanical Engineering   99300.0
19                Electrical Engineering   98700.0
6                                Biology   98100.0
13                      Computer Science   98000.0
1                  Aerospace Engineering   96700.0
5                            Art History   96200.0
12                  Computer Engineering   95900.0
46                            Psychology   95400.0
24                             Geography   92000.0
29                 Hospitality & Tourism   88500.0
48                             Sociology   87300.0
4                           Architecture   85400.0
10                     Civil Engineering   84600.0
31           Information Technology (IT)   84500.0
26                        Graphic Design   76000.0
15                      Criminal Justice   74800.0
18                             Education   72700.0
32                       Interior Design   71300.0
23                              Forestry   70000.0
47                              Religion   66700.0
27            Health Care Administration   66400.0
49                               Spanish   65400.0
41                             Nutrition   65300.0
43                   Physician Assistant   57600.0
40                               Nursing   50700.0

# Grouping and Pivoting Data with Pandas

In [31]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [41]:
pd.options.display.float_format = '{:,.2f}'.format
# The average salary by group (entire column `|` in each row `-`)
# clean_df.groupby('Group').mean() -> This is deprecated
clean_df.groupby('Group')[['Mid-Career Median Salary', 'Starting Median Salary']].mean()

          Mid-Career Median Salary  Starting Median Salary
Group
Business                 75,083.33               44,633.33
HASS                     62,968.18               37,186.36
STEM                     90,812.50               53,862.50

In [ ]:
clean_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business